.app {
  padding: 0;
  margin: 0;
}

.app .contents {
  padding-top: 70px;
}

.no-click {
  pointer-events: none;
}

.jumbotron.jumbotron--home {
  background-image: url('./../assets/background_landscape.png');
  background-size: cover;
}

.badge--play-store {
  height: 4em;
}

.main-icon {
  width: 8rem;
  height: auto;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid lightgray;
  margin-top: 2rem;
}
